.btn {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    padding: 20px 10px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    transition: 0.25s;
    border-width: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    color: #fff;
    background-color: #dd742c;
}

.l-header {
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid #ddd;
    text-align: right;
}
.headermenu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 0 10px 0;
}

.headermenu li {
    border-right: 1px solid #ccc;
    padding: 0 10px;
}

.headermenu li:first-child {
    border-left:1px solid #ccc ; 
}

.headermenu a {
    text-decoration: none;
    color: #888;
    font-size: 14px;
    padding: 0 15px 0 15px  /* 左右の余白を設定 */
}

.btn.btn-small {
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.btn.btn-long {
    width: 160px;
}